body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

#nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #5cf07c;
    width: 100%;
    border-radius: 10px;
}

.section-button {
    margin: 10px;
    color: #fff;
    background-color: #555;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.section-button:hover {
    background-color: #888;
}

#content {
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #aaa;
    border-radius: 10px;
}

.prompt-box {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.prompt-box h3 {
    margin-top: 0;
    font-size: 18px;
}

.prompt-box p {
    margin-bottom: 10px;
}

.copy-button {
    color: #fff;
    background-color: #4CAF50; /* Green */
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.fade-in-section {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

#new-prompt-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#new-prompt-form input[type="text"] {
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 16px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#new-prompt-form label {
    font-weight: bold;
    font-size: 18px;
}

#new-prompt-form input[type="submit"] {
    color: #fff;
    background-color: #4CAF50; /* Green */
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

#new-prompt-form input[type="submit"]:hover {
    background-color: #45a049;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}